.bj {
	background-image: url(images/1_r1_c3.jpg);
	background-repeat: repeat;
}
.erji {
	background-image: url(imageserjiDI_r1_c15.jpg);
}

.bj1 {
	background-image: url(images/1_r5_c26.jpg);
	background-repeat: repeat-x;
}
.bjd {
	background-image: url(images/0.jpg);
	background-repeat: repeat-x;
}

.bjy {
	background-image: url(images/1_r1_c27.jpg);
	background-repeat: repeat-x;
}
.ERJIBEIJING {
	background-image: url(images/erji_r1_c16.jpg);
	background-repeat: repeat-x;
}
